body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222233;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  padding: 30px;
  text-align: center;
}

h1 {
  color: #ddbb00;
  margin: 10px 0 45px;
}

.holycard {
  width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  background: rgba(90, 90, 120, 0.1);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.hc_pic {
  width: 100%;
  height: 240px;
}

.hc_pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hc_content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hc_text {
  color: #fff;
}

.hc_content h4 {
  font-size: 26px;
  margin: 0;
}

.hc_cont_descr {
  font-size: 14px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
}

.hc_content_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;
  color: #fff;
}

.hc_buttons {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.hc_buttons button {
  border: none;
  border-radius: 5px;
  background: #ddbb00;
  color: #222233;
  font-weight: bold;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 16px;
}
