body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  padding: 30px;
  text-align: center;
}

.holycard {
  width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  background: lightblue;
  overflow: hidden;
}

.hc_pic {
  width: 100%;
  height: 240px;
}

.hc_pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hc_content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hc_content h4 {
  font-size: 26px;
  margin: 0;
}

.hc_cont_descr {
  font-size: 14px;
}

.hc_content_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;
}

.hc_buttons {
  width: 100px;
  display: flex;
  justify-content: space-between;
}
